<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav" style="margin:0 auto">
            <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">Основная страница</a></li>
            <li class="nav-item"><a asp-controller="Home" asp-action="CreateItem" class="nav-link">Создать товар</a></li>
            <li class="nav-item"><a asp-controller="Categories" asp-action="CreateCategory" class="nav-link">Add Category</a></li>
            <li class="nav-item"><a asp-controller="Manufacturers" asp-action="CreateManufacturer" class="nav-link">Создать производителя</a></li>
        </ul>
    </div>
</nav>
