@model IEnumerable<ItemApiProject.Dtos.CategoryDto>
@{  
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.Message</h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div>
    <h2>Лист Категории</h2>
    <br />

    @foreach (var item in Model)
    {
        <p>
            <strong>@item.Name</strong>
            <a asp-controller="Categories" asp-action="GetCategoryById" asp-route-categoryId="@item.Id"> | Детали</a>
            <a asp-controller="Categories" asp-action="DeleteCategory" asp-route-categoryId="@item.Id"> | Удалить Категорию</a>
        </p>
    }
</div>
